body {
    background-color: rgb(248, 252, 252);
    width: 75%;
    margin: auto;
    margin-top: 0%;

    font-family: "Oswald", sans-serif;
}

.about {
    display: grid;
    grid-template-columns: 4fr 10fr;
    height: 360px;
}

.about-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.about-right {
    display: flex;
    margin-right: 50px;
}

.photo {
    width: 200px;
    height: 215px;
    object-fit: cover;
    margin: 0px 15px 0px 15px;
    border-radius: 25%;
    box-shadow: 0 0 5px #c4c4c4;
}

.socialmedia-image {
    align-items: center;
    width: auto;
    height: 30px;
    margin: 8px;
}

.about-name {
    font-size: 38px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.about-text {
    margin-top: 90px;
    font-size: 22px;
    text-align: justify;
    color: rgb(46, 46, 46);
    font-weight: 300;
}

ul {
    padding: 0px;
    margin: 10px 25px 10px 25px;
}

li {
    list-style-type: none;
}

svg {
    color: black;
}

.tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.tech-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50%;
}

.tech-box > div {
    display: flex;
    text-align: center;
    width: 60px;
    height: 60px;
    padding: 5px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #dfdfdf;
    box-shadow: 0 5px 5px #c4c4c4;
}

.tech > h2 {
    margin: 15px 0px 15px 0px;
    font-size: 30px;
    font-weight: bold;
}

div > svg {
    width: 60px;
    height: 60px;
}

.carrer {
    display: flex;
    flex-direction: row;
    height: 400px;
}

.carrer-text {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.experience, .academic {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 50%;
}

.experience > h1, .academic > h1  {
    margin: 0px;
}

.experience > div, .academic > div {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #d6d6d6;
    border-radius: 10px;
    box-shadow: 0 5px 5px #c4c4c4;
}

.experience > div > *, .academic > div > *{
    margin: 5px 25px 5px 25px;
}

.experience > div > p, .academic > div > p{
    color: rgb(29, 29, 29);
}
.experience > div > h2, .academic > div > h2{
    font-size: 22px;
}

.course-section {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 150px, minmax(250px, auto);
}

.course-name{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.course-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
    height: 200px;
}

.course-box > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-radius: 10px;
    width: 250px;
    height: 140px;
    box-shadow: 0 5px 5px #c4c4c4;
}

.course-box > div > a > button {
    width: 100%;
    height: 35px;
    border: 0px;
    background: linear-gradient(10deg, #071724 5%, #2e4b86 100%);
    color: rgb(255, 255, 255);
}

.course-title, .course-text {
    margin: 0px 0px 0px 5px;
    text-align: start;
}

.course-text {
    margin-bottom: 10px;
    text-align: start;
}

.project-text {
    margin: 0px;
    text-align: center;
    font-size: 30px;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 250px;
}

.projects {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(208, 208, 208);
}

.projects > p {
    text-align: center;
}