@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background-color: #0a0c0f;
    color: #bcc9d3;
    font-family: "Work Sans", sans-serif;
    font-size: 12pt;
}

body {
    background-color: #0f1217;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-images {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px 5px;
    filter: invert(1);
}

#about-frame, .about {
    position: relative;
    padding: 50px 0px 100px 0px;
    width: 100%;
    height: 300px;
}

div > .about-text {
position: relative;
}

.about-text {
    text-align: center;
    width: 35%;
    left: 50%;
    bottom: 275px;
}

.about {
    text-align: center;
    width: 50%;
}

#personal-frame {
    position: relative;
    background-color: #000000;
    border-radius: 5%;
    width: 210px;
    height: 250px;
    margin: auto;
}

#personal-frame > #personal-photo {
    width: 210px;
    height: 250px;
    border-radius: 5%;
}

.name-box {
    position: relative;
}

.name-box > #personal-name {
    color: #ffffff;
    font-size: 32px;
    padding: 5px;
    margin: auto;
}

.contact {
    margin: 10px 10px 5px 10px;

}

.titles {
    position: relative;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
}

h3.position.subtitles {
    position: absolute;
    width: 300px;
    padding-right: 100px;
}

.logos {
    position: relative;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

h3.subtitles{
    color: #eceff3;
    margin: auto;
    font-size: 28px;
}

li > h3.subtitles, h4.subtitles {
    position: relative;
    left: 80px;
    bottom: 60px;
}

h4.subtitles{
    color: #b2bcc4;
    margin: auto;
    font-size: 12px;
}

h3.subtitles {
    font-size: 22px;
}

ol, ul {
    list-style: none;
}

ul {
    margin-bottom: 50px;
}

#projetos {
    position: relative;
    width: auto;
    height: 300px;
}

footer {
    text-align: center;
}




